{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "camelcase": 0,
    "global-strict": 0,
    "new-cap": 0,
    "no-empty": 0,
    "no-extend-native": 0,
    "no-new": 0,
    "no-redeclare": 0,
    "no-shadow": 0,
    "no-spaced-func": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": 0,
    "no-use-before-define": 0,
    "quotes": [1, "single", "avoid-escape"],
    "strict": 0
  },
  "globals": {
    "requirejs": 1,
    "define": 1,
    "mocha": 1,
    "suite": 1,
    "test": 1,
    "describe": 1,
    "context": 1,
    "it": 1,
  }
}
